@font-face {
  font-family: "ralewaylight";
  src: url("fonts/raleway-light-webfont.woff2") format("woff2"),
    url("fonts/raleway-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jost-regular";
  src: url("fonts/Jost-Regular-400.woff") format("woff2"),
    url("fonts/Jost-Regular-400.woff2") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "Playfair Display, Regular";
  src: url("fonts/PlayfairDisplay-Regular.woff") format("woff2"),
    url("fonts/PlayfairDisplay-Regular.woff2") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "Jost, Medium";
  src: url("fonts/Jost-Medium-500.woff") format("woff2"),
    url("fonts/Jost-Medium-500.woff2") format("woff");
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "jost-regular";
}
.top-header-strip {
  display: flex;
  justify-content: space-between;
  padding: 6px 1%;
  border-bottom: 1px solid #ccc;
}
.top-header-strip-left p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.top-header-strip-right ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.top-header-strip-right ul li {
  padding: 0 10px;
  color: #000;
}
.flegDrop {
  position: relative;
  display: flex;
  background: transparent url("/src/assets/selectCountry.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.top-header-strip-right .flegDrop .toggle-icon {
  width: 50px;
  padding-top: 2px;
}
.top-header-strip-right .toggle-icon {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
}
.top-header-strip-right ul li a {
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}
.flegDrop a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.pull-right {
  float: right;
}
a,
a:hover {
  color: #000;
}
a {
  text-decoration: none;
  background-color: transparent;
}

.header {
  width: 100%;
  padding: 18px 20px 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
}
.left-menu {
width: 40%;
}
.top-logo {
 width: 20%;
  display: flex;
  justify-content: center;
  margin: 0;
}
.right-menu {
width: 25%;
}
.top-icon {
 
  justify-content: flex-end;
}
.navbar-nav {
  justify-content: center;
  flex-direction: row;
  display: flex;
  margin-bottom: 0;
  list-style: none;
  align-items: center;
}
.navbar-nav .nav-item {
  margin: 0 11px;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  /* margin-right: 6rem; */
  /* margin-left: 6rem; */
}

img {
  vertical-align: middle;
  border-style: none;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.header .navbar {
  padding: 0;
  margin-bottom: 0;
  float: left;
  position: static;
  margin: auto;
}
.header-nav {
  display: flex;
}

.container-fluid.product-list-main {
  background-color: #fff;
  padding-top: 30px;
  display: inline-block;
  border-bottom: 1px solid #ececec;
}

.product-list-main {
  padding: 0;
  min-height: 50vh;
  margin-bottom: 50px;
}
.container-fluid {
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}
.d-inline-block {
  display: inline-block!important;
}
.product-cntr {
  display: inline-block;
  padding-bottom: 20px;
}
.item {
  text-align: center;
}
.product-list-main h1 {
  display: inline-block;
  text-overflow: ellipsis;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  max-width: 400px;
  color: #303030;
  padding-left: 10px;
  margin-top: 3px;
  margin-bottom: 0;
  text-transform: capitalize;
  font-family: "playFair";
  font-size: 2rem;
}

.list-pages .row, .product-detailmain .row {
  margin-right: 0;
  margin-left: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.product-list-main .sidebar-main {
  min-width: auto!important;
  padding-left: 20px!important;
  margin-left: 0!important;
  padding-right: 0;
  flex-grow: 0!important;
  width: 18.5%;
  flex: 0 0 18.5%;
  flex-grow: 0;
  max-width: 18.5%;
}

.product-list-main h3 {
  font-weight: 500;
  display: inline-block;
  text-overflow: ellipsis;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  max-width: 400px;
  color: #000;
  padding-left: 10px;
  margin-top: 3px;
  margin-bottom: 0;
  text-transform: capitalize;
}
.product-list-main p {
  color: #303030;
  padding-top: 0;
  margin: 0;
  text-transform: capitalize;
  font-size: 14px;
}
.hideFilterWrap {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px 15px!important;
  cursor: pointer;
  text-transform: uppercase!important;
  font-family: "Jost, Medium";
}
.hideFilterWrap img {
  margin-right: 5px;
}
img {
  vertical-align: middle;
  border-style: none;
}
.product-list-main p span {
  color: #303030!important;
  padding-right: 3px;
  font-size: 14px!important;
}

.product-list-main .product-section-main {
  width: 81.5%;
  max-width: 81.5%;
  flex: 0 0 81.5%;
  padding-left: 0;
  padding-right: 0;
}

.list-pages .row, .product-detailmain .row {
  margin-right: 0;
  margin-left: 0;
}

.row-filter {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  padding-bottom: 15px;
  padding-top: 8px;
  padding-right: 30px;
  margin-right: 0;
}
.pr-3, .px-3 {
  padding-right: 1rem!important;
}
.product-sort {
  float: right;
  margin-bottom: 0;
  position: relative;
  padding-right: 0;
  margin-right: 0;
}
.sortnew {
  float: right;
  padding: 8px 7px;
  font-size: 14px;
  color: #282c3f;
  cursor: pointer;
  position: relative;
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #d3d3d3;
}
.sortnew strong {
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
}
.sortnew span {
  text-transform: capitalize;
  color: #282c3f;
  font-family: "Jost-medium";
  width: calc(100% - 75px);
  float: right;
}
.sortby-arrow {
  background-image: url(/src/assets/select-down.svg);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  width: 14px;
  height: 20px;
  padding-right: 22px;
  font-weight: 400;
}
.sortnew ul.sort-list {
  width: calc(100% + 2px);
  max-width: 250px;
  background-color: #fff;
  position: absolute;
  top: 32px;
  left: -1px;
  margin: 0;
  padding: 10px 0;
  z-index: 10;
  display: none;
  border: 1px solid #d4d5d9;
  border-top: none;
  box-shadow: 0 8px 10px 0 rgb(0 0 0 / 8%);
}
.sortnew ul.sort-list li {
  display: block;
  font-size: 15px;
  color: #282c3f;
  cursor: pointer;
  padding: 10px 20px;
}
product-list-main .sidebar-main .components {
  margin: 0;
  padding-left: 0;
}
.sidebar-main li.filter-box {
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 5px;
  border-bottom: 1px solid #e9e9ed;
}
.product-list-main .sidebar-main .filter-box .dropdown-toggle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
.product-list-main .sidebar-main .filter-box a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
  display: block;
  line-height: 22.5px;
  text-transform: capitalize;
}
.product-list-main .sidebar-main .filter-box a.active:after {
  transform: rotate(0deg);
  content: "\f068";
}
.product-list-main .sidebar-main .filter-box a.dropdown-toggle:after {
  float: right;
  transform: rotate(180deg);
  transition: all .5s;
  border: none;
  height: auto;
  width: auto;
  content: "\f067";
  font-size: 10px;
  font-family: FontAwesome;
  margin: 0 12px 0 0;
}
.dropdown-toggle:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.sidebar-main {
  width: 25%;
  max-width: 25%;
  flex: 0 0 25%;
}
.sidebar-main nav {
  border: 1px solid #ededed;
  text-align: left;
}
.sidebar-header {
  padding: 18px 15px;
  border-bottom: 1px solid #ededed;
}
.sidebar-header h3 {
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}
.filter-box {
  border-bottom: 1px solid #ededed;
}
.sidebar-main .filter-box a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
  display: block;
  line-height: 22.5px;
  padding: 15px;
}
.list-unstyled {
  max-height: 250px;
  overflow: auto;
  padding: 0 15px 15px;
}
.list-unstyled a {
  font-size: 14px;
  display: flex;
  padding: 15px 15px 0 22px;
  text-decoration: none;
  align-items: center;
}

.checkbox{
  margin-right: 4px;
}
.home-page .footerLogo {
  background-color: #fbf7e8;
}


.footerLogo {
  text-align: center;
  position: relative;
  height: 130px;
  background-color: #fff;
}
.home-page .footerLogoWrap {
  background-color: #fbf7e8;
}
.footerLogoWrap {
  background-color: #fff;
  width: 100px;
}
.footerLogo:before,
.footerLogoWrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.home-page .footer-links-container {
  background-color: #fbf7e8;
}

.footer-links-container {
  padding: 2% 5%;
  margin: 0;
}
.footer-links-container {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto 20px;
  max-width: 100%;
  float: left;
  padding: 4%;
  background-color: #fff;
}
.footer_links {
  width: 65%;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 100%;
  float: left;
  display: flex;
  flex-wrap: wrap;
}
.footer_links .customer_menu {
  width: 25%;
  padding: 0 1%;
  box-sizing: border-box;
}
.footer_links .customer_menu h2 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #000;
  font-family: jost-regular;
}

.customer_menu ul {
  margin: 0;
  padding: 0;
}
.customer_menu ul li {
  margin: 10px 0;
  padding: 0;
  display: block;
}
.footer_links .customer_menu {
  width: 25%;
  padding: 0 1%;
  box-sizing: border-box;
}
.footer_links .customer_menu h2 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #303030;
}
.footer-btm-center {
  float: left;
  width: 35%;
  text-align: center;
  color: #272727;
  margin-top: 0;
  margin-left: 0;
  box-sizing: border-box;
  padding-left: 2%;
  position: relative;
}
.homepage_newsletter {
  position: static;
  top: 0;
  left: 0;
  transform: translate(0);
  width: 100%;
}
.text-left {
  text-align: left !important;
}
.block.newsletter h3 {
  font-size: 16px;
}
h2,
h3,
h4,
h6 {
  color: #252525;
  font-weight: 600;
}
.newsletter .title strong {
  color: #000;
  text-align: left;
  display: block;
  font-weight: 400;
  font-size: 13px;
}
.form.subscribe {
  position: relative;
  width: 100%;
  margin: 8px 0 0;
  max-width: 450px;
}
.field.newsletter {
  width: 100%;
  margin-bottom: 15px;
  float: left;
}
.form.subscribe #newsletter {
  border: none;
  border-bottom: 1px solid #000;
  height: 40px;
  line-height: 40px;
  padding: 0 80px 0 2px;
  color: #424242;
  font-size: 14px;
  background-color: transparent;
  border-radius: 0;
  width: 100%;
}
.content .form.subscribe .actions button {
  position: absolute;
  right: -15px;
  border: 0;
  color: #000;
  overflow: hidden;
  padding: 0;
  height: 40px;
  width: 110px;
  background-position: 100%;
  background-color: transparent;
  border-radius: 0;
  margin-top: 0;
  box-sizing: border-box;
  cursor: pointer;

  font-weight: 700;
  text-align: revert;
}
.socialIcons {
  text-align: left;
  padding: 20px 0;
  display: inline-block;
  float: left;
}
.footerLogo:before,
.footerLogoWrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.footerLogo:before {
  content: "";
  width: 98%;
  height: 10px;
  border: 1px solid #eae4cf;
  border-right: none;
  border-left: none;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.55);
  text-transform: uppercase;
}
.navbar-nav .nav-item > a {
  font-family: "Jost, Medium";
  font-size: 16px;
}


.product-list-main {
  padding: 0;
}
.p-0 {
  padding: 0 !important;
}



.list-pages .row,
.product-detailmain .row {
  margin-right: 0;
  margin-left: 0;
}













.product-list .new-class .slide-box {
  width: 100%;
  display: inline-block;
  border: 0;
  margin-bottom: 25px;
}
.wishlist {
  z-index: 2;
  position: absolute;
  right: 31px;
  font-size: 0;
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 30px;
  opacity: 1;
  color: #626262;
  text-transform: uppercase;
  text-decoration: none;
  pointer-events: none;
  padding-top: 7px;
  transition: all 0.1s;
  top: 5px;
}
.gh_logo_bottom {
  width: 100%;
  float: left;
  text-align: right;
  padding-right: 0;
  margin: 0;
  position: relative;
}

.gh_logo_bottom p {
  color: #424242;
  margin: 10px 10px 10px 0;
  padding: 0;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.container-fluid-page {
  box-shadow: 2px 2px 2px hsl(0deg 0% 80% / 63%);
}
.socialIconsWrap a img {
  padding: 20px;
}



.card-body {
  padding: 1rem 0rem;
}
.pagination {
  justify-content: center;
}

.pagination li {
  color: black;
  float: left;
  padding: 1px 12px;
  text-decoration: none;
}
.pagination li:hover {
  background: #8f5656;
  cursor: pointer;
}

.next {
  border: 1px solid #ccc;
}

.page-count {
  position: absolute;
}

.user-logins {
  width: 40%;
}
.footerLogo img {
  width: 70px;
}
.for-mobile-view {
  display: none;
}
.container-fluid.d-inline-block {
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 767px) {
 
  .for-dekhtop-view {
    display: none;
  }
  .top-header-strip {
    justify-content: center;
  }
  .top-header-strip-left {
    font-size: 10px;
  }
  .top-header-strip-right {
    display: none;
  }

  .header .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1 rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #000;
}
  .header .navbar-toggler-icon {
    width: 31px;
    margin-top: 0;
    display: block;
    height: 26px;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat 50%;
  background-size: 100% 100%;
}



.header .navbar-toggler-icon  {
  font-size: 0;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMC42MjgiIGhlaWdodD0iMjYiIHZpZXdCb3g9IjAgMCAzMC42MjggMjYiPjxkZWZzPjxzdHlsZT4uYXtmaWxsOm5vbmU7c3Ryb2tlOiMwYzBjMGM7c3Ryb2tlLXdpZHRoOjNweDt9PC9zdHlsZT48L2RlZnM+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE4IC05MikiPjxwYXRoIGNsYXNzPSJhIiBkPSJNMzg0MS4xMjQsMzEuNDk1aDMwLjYyOCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTM4MjMuMTI0IDYyLjAwNSkiLz48cGF0aCBjbGFzcz0iYSIgZD0iTTM4NDEuMTI0LDMxLjQ5NWgyMS4wNiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTM4MjMuMTI0IDc0LjAwNSkiLz48cGF0aCBjbGFzcz0iYSIgZD0iTTM4NDEuMTI0LDMxLjQ5NWgzMC42MjgiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zODIzLjEyNCA4NS4wMDUpIi8+PC9nPjwvc3ZnPg==);
  width: 21px;
  margin-left: 1px;
  height: 26px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}
.navbar-brand.mobile-logo {
  display: block;
  width: auto;
  float: left;
  
}
.navbar-brand>img {
    
    padding: 8px 17px;
    margin-left: -191px;
}
.profile-icon {
  padding: 8px;
  background-color: #fff;
  border-radius: 5px;
  height: 40px;
}
img {
  vertical-align: middle;
  border-style: none;
}

  footer {
    float: none;
  }
  footer {
    overflow: hidden;
  }

  .for-mobile-view.social-mob {
    background-color: transparent !important;
  }
  .for-mobile-view.social-mob {
    padding: 30px 15px;
  }
  .for-mobile-view.social-mob {
    width: 100%;
    float: left;
    text-align: left !important;

    /* background-color: #fff; */
  }
  .for-mobile-view {
    display: block;
  }
  .for-mobile-view.social-mob h2 {
    text-align: left;
    display: block;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .for-mobile-view.social-mob .mobile-view {
    display: block;
    float: left;
  }
 
  .for-mobile-view.social-mob .mobile-view ul {
    display: flex;
    justify-content: center;
  }
  .for-mobile-view.social-mob .mobile-view ul li {
    display: inline-block;
    padding-right: 30px;
  }
  .footer-btm-center {
    background-color: transparent !important;
  }
  .footer-btm-center {
    margin: 0;
    padding: 0 15px;
    background-color: #fff;
  }
  .homepage_newsletter {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    width: 100%;
  }
  .newsletter .title strong {
    text-align: left;
    font-size: 16px;
  }

  .newsletter .title strong {
    text-align: left;
    font-size: 16px;
  }
  .form.subscribe {
    width: 100%;
  }
  .form.subscribe #newsletter {
    padding: 0 80px 0 15px;
  }
  .footer-links-container {
    margin-bottom: 0;
    margin-top: 0;
    border-top: 0;
    border-bottom: 0;
  }
  .footer-links-container {
    padding: 30px 0;
  }

  .footer_links {
    width: 100%;
  }
  .footer_links .customer_menu {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid hsla(0, 0%, 77.3%, 0.47059);
    padding: 15px 3%;
  }
  .footer_links .customer_menu h2 {
    font-size: 14px;
    margin-bottom: 0;
  }
  footer .footer_links h2:after {
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    float: right;
  }
  .gh_logo_bottom.mobile-copyright {
    display: block;
    padding: 15px;
  }
  .gh_logo_bottom.mobile-copyright p {
    text-align: left;
    font-family: "Jost-regular";
  }
}
@media screen and (max-width: 968px) {
  .footer-btm-center,
  .footer_links {
    width: 100%;
  }
  .navbar-brand>img {
    width: 100px!important;
    height: auto;
    top: 0;
    position: relative;
   
}
.header{
  padding: 6px 20px 15px;
}
.header .navbar-collapse {
  position: fixed;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  z-index: 9;
  background: rgba(0,0,0,.6);
  left: -100%;
  transition: all .5s;
  border: 0;
}
.header .navbar-collapse.active {
  left: 0;
}
.mobile-menu-container {
  max-width: 80%;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: #fff;
}
 .mobile-heading {
  background-color: #501337;
}
.mobile-heading {
  padding: 15px 15px 5px;
  max-width: 100%;
  width: 100%;
  position: relative;
  display: block;

}

.mobile-heading h2 {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
}
.mobile-heading .close {
  position: absolute;
  right: 15px;
  top: 14px;
  color: #fff;
  opacity: 1;
  font-size: 20px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 .mobile-heading .close .fa-times:before {
  content: "";
  height: 1px;
  width: 15px;
  background-color: #fff;
  display: block;
  transform: rotate(45deg);
}
.mobile-heading .close .fa-times:after {
  content: "";
  height: 1px;
  width: 15px;
  background-color: #fff;
  display: block;
  transform: rotate(-45deg);
  margin-top: -1px;
}
.header .navbar-collapse .navbar-nav {
  align-items: flex-start;
  overflow: auto;
  max-width: 100%;
  width: 100%;
  flex-direction: column;
  margin: 0;
  padding: 15px 0;
}


.mobile-top-nav {
  
  background-color: transparent!important;
  width: 100%!important;
  max-width: 100%!important;
  overflow: hidden!important;
}
.navbar-collapse .navbar-nav .nav-item:last-child {
  border: none;
}
.navbar-nav .nav-item {
  margin: 0 11px;
}

.mobile-top-nav li a {
  color: #fff
}
 .navbar-collapse .navbar-nav .nav-item {
  display: block;
  float: none;
  border-bottom: 1px solid #e2e2e2;
}


}
